{% load static %}

<html>
    <head>
        <title>
            Jsaon's Web
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container coming-soon">
            <h1>Coming soon!</h1>
            <br>
            <a href="{% url 'story3app:home' %}">back</a>
        </div>
    </body>
</html>