* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}

nav ul,
.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-color: #3F4045;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  background-color: #363537;
}

header h1,
header a,
footer p,
footer a,
.text p,
.about h1,
.hobbies h1,
.contact h1 {
  color: #BFBFBF;
}

li {
  list-style: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(50%);
}

.homepage {
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 120px;
}

.text h1 {
  color: #BFBFBF;
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block
}

.text div {
  display: inline-block
}

span:hover {
  color: #63A088;
  transition: all .5s;
}

span.name {
  color: BFBFBF;
}

span.m-left {
  color: 96939B;
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{
  padding: 12px 25px;
  background-color: #BFBFBF;
  border: 3px solid #BFBFBF;
  color: #363537;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: '';
  background-color: #363537;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before {
  height: 100%;
}

.about {
  height: 100vh;
  margin-top: 100px;
}

.about h1 {
  font-size: 4rem;
  opacity: .3;
}

.text-about {
  position: relative;
  top: 230px;
  left: 95;
}

.about-me-text {
  color: #BFBFBF;
  max-width: 600px;
  background-color: #363537;
  box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  padding: 50px;
  position: relative;
  top: 270px;
  left: 35%;
  right: 50%;
  transform: translate(-50%);
  z-index: 1;
}

a.about-me-text p {
  font-size: 1.3rem;
  color: #BFBFBF;
}

.about-me-text p:nth-child(2),
.about-me-text p:last-child {
  margin-top: 30px;
}

.about img {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 75px;
  left: 75%;
}

.hobbies {
  height: 100vh;
  margin-top: 100px;
}

.text-hobbies h1 {
  text-align: right;
  font-size: 4rem;
  opacity: .3;
  position: relative;
  top: 230px;
  left: 80;
}

.hobbies img{
  max-width: 100px;
  max-height: 100px;
}

.hobby {
  display: flex;
  margin-left: 15%;
  position: relative;
  top: 230px;
  left: 95;
}

.hobbie-info h1 {
  text-align: left;
  font-size: 3rem;
  opacity: 1;
  margin-left: 50%;
}

.desc h1 {
  padding: 25px;
}

.contact h1 {
  text-align: right;
  font-size: 10rem;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: #363537;
}

.logo,
.contact,
.arrow {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo >* {
  margin-left: 10px;
  margin-right: 10px;
}

.coming-soon {
  color: #BFBFBF;
  text-align: center;
  margin-top: 25%;
}

.coming-soon a:visited {
  color: #BFBFBF
}